---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  <img src="https://img.uqnq.my.id/ad1.png" width="600">  
  Kunjungi artikel tentang {{ page.title }} dengan mengklik link berikut : {{ content }}

<p>Bacaan lainnya:</p>
<div class="Previous-next">
  {% if page.previous.url %}
    <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
       <p></p> 
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<p></p> 
<ul>
        {% assign posts = site.posts | "post.url != page.url" | sample:10 %}
        {% for post in posts %}
          {% include rp.html %}
        {% endfor %}
      </ul>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>

